@page
@model BookDiariesWebRazor_Temp.Pages.Categories.IndexModel


<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/categories/create" class="btn btn-info"><i class="bi bi-plus-circle"></i> Create New Category</a>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CategoryList.OrderBy(u=>u.DisplayOrder))
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.DisplayOrder</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-page="/Categories/Edit"  asp-route-id="@item.Id" class="btn btn-success mx-2">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                            <a asp-page="/Categories/Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
                                <i class="fa fa-trash-o"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

